
# .v4p backup files
*~.xml

# Dynamic plugins .dll
bin/

# Filter non-mcropack packs
packs/*
!packs/mp.*/

# Visual Studio Garbage
src/*/packages
src/*/.vs
src/*/bin
src/*/obj
src/*/*/bin
src/*/*/obj
